<head>
  <link rel="stylesheet" type="text/css" href="/css/style.css" />
</head>
<h1>Welcome to Members Only!</h1>
<% if (locals.user) {%>
<h2 class="login-container">
  Logged in as <%= user.member_status %> (<%= user.username %>)<a
    href="/log-out"
    ><button class="logout">X</button></a
  >
</h2>
<% } else { %>
<h2>log in to see more</h2>
<a href="/sign-up"><button class="glow">Signup</button></a>
<a href="/log-in"><button>Login</button></a>
<% } %> <% if (locals.user && user.member_status !== "admin") {%>
<a href="join-secret-cult"><button class="glow">Join Us</button></a><% } %>
<h1>Messages</h1>
<a href="/new"><button>New Message</button></a><% for(message of messages) { %>
<div class="message">
  <h2><%= message.title %></h2>
  <li><%= message.text %></li>
  <% if (locals.user) { %>
  <li>posted by <%= message.created_by %> at <%= message.timestamp %></li>
  <% if (user.member_status === "admin") { %>
  <span
    ><button class="admin-btn">Edit</button>
    <button class="admin-btn">Delete</button></span
  ><% } %> <% } else { %>
  <li>log in to see date posted</li>
  <% } %>
</div>
<% } %>
