<head>
  <link rel="stylesheet" type="text/css" href="/css/style.css" />
</head>
<h1>Welcome to Members Only!</h1>
<% if (locals.user) {%>
<h2 class="login-container">
  Logged in as <%= user.username %><button class="logout">
    <a href="/log-out">X</a>
  </button>
</h2>

<% } else { %>
<h1>please log in</h1>
<% } %>
<span
  ><button><a href="/sign-up">Signup</a></button>
  <button><a href="/log-in">Login</a></button></span
>
<h1>Messages</h1>
<% if (locals.user) { %>
<button><a href="/new">New Message</a></button>
<% } %> <% for(message of messages) { %>
<h2><%= message.title %></h2>
<li><%= message.text %></li>
<% if (locals.user) { %>
<li>posted by <%= message.created_by %> at <%= message.timestamp %></li>
<% } %> <% } %>
